// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.section-pricing {
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top:5rem;

}


