$color-pink: #ff4a84;
$color-red: #ff5252;

$color-gray: rgb(125,128,148);

$color-background:rgb(237,237,237);

$color-text:rgb(40,44,69);

//grid

$grid-max-width:70rem;
$gutter-vertical:8rem;
$gutter-horizontal:2rem;
