.row{
  max-width:$grid-max-width;
  margin: 0 auto;
  &:not(:last-child){

    //TODO:  FIX THIS FOR WHEN BROWSER IS NOT FULL SCREEN
    //margin-bottom: $gutter-vertical;
    //margin-bottom: $gutter-vertical;
  }


  @include clearfix;


  [class^="col-"]{
    float:left;
    &:not(:last-child){
      margin-right: $gutter-horizontal;
    }
  }


  .col-1-of-2{
    width: calc((#{$grid-max-width} - #{$gutter-horizontal})/2 );

  }
  .col-1-of-3{
    width: calc((#{$grid-max-width} -  (2 * #{$gutter-horizontal}))/3 );
  }


  .col-2-of-3{
    width: calc(((#{$grid-max-width} -  (2 * #{$gutter-horizontal}))/3) * 2 + #{$gutter-horizontal} );
  }

  .col-1-of-4{
    width: calc((#{$grid-max-width} - (3 * #{$gutter-horizontal}))/4 );
  }

  .col-2-of-4{
    width: calc( ((#{$grid-max-width} - (3 * #{$gutter-horizontal}))/4) * 2 + #{$gutter-horizontal} );
  }

  .col-3-of-4{
    width: calc( ((#{$grid-max-width} - (3 * #{$gutter-horizontal}))/4) * 3 + (#{$gutter-horizontal} *2)  );
  }
}
