// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------


.nav{
  display:flex;
  flex-direction: row;
  &__top{
    height:80px;
    width:100%;
    display:flex;
    flex-direction:row;
    align-items: center;
    box-shadow:1rem -7.997px 1rem $color-red;
    padding-left:3rem;
    justify-content: space-between;
    background: white;


    &--right{
      color:$color-gray;
      display:flex;
      flex-direction:row;
      align-items: center;
      margin-right:3rem;
       a {
         position:relative;
         color:$color-gray;
         font-size:1.21rem;
         &:not(:last-child){
           margin-right:1.5rem;
         }




       }

      span{
        font-size:.8rem;
        margin-right:1.5rem;
        font-weight:500;
      }

      img{
        width:40px;
        height:auto;
        border-radius:50%;
        box-shadow:0 0 6px rgba($color-red,0.7);
        margin-right:1.5rem;
      }
    }


  }
  &__left{
    display:flex;
    flex-direction:column;
    width:17rem;
    height:100vh;
    box-shadow: -12px -1px 1rem $color-red;
    //box-shadow: -8px .003rem 1rem $color-red;
    background:white;


    ul{
      margin:1rem 0 ;
      padding:0;
      width:100%;
      list-style:none;
      text-align: left;

      li{
        //padding:.7rem 0 ;
        padding-left:2rem;
        padding-top:.8rem;
        padding-bottom:.8rem;
        transition:all .2s;

        &:nth-child(2){
          background:$color-red;
          color:white;

          a{
            color:white!important;
          }
        }

        &:hover{
          background:$color-red;
        }

        &:hover a{
          color:white !important;
        }
        i{
          font-size:1.3rem;
          margin-right:2rem;
        }
        a:link,
        a:visited{
            text-decoration:none;
            color: $color-gray;
            font-size:.87rem;
            line-height: 100%;
        }

      }
    }

  }
}
.logo-container{
  padding:1.2rem 0 1.2rem 1.9rem;
  border-bottom:1px solid rgba(226, 226, 226, 0.7)
}
.stoney-logo {
  height:2.5rem;
}

.search__input{
  border-radius:1.7rem;
  box-shadow:0 0 3px rgba($color-red,0.3);
  background: url(../img/search.svg) left no-repeat;
  background-position: 2.5rem;
  background-size:12px;
  border:0;
  font-size:.7rem;
  color:$color-gray;

  &::placeholder{
    color:$color-gray;
  }

  &:focus {
    outline:none;
    //outline:1px solid rgba($color-red,0.3);
    border-radius:1.7rem;
    box-shadow:0 0 3px rgba($color-red,0.9);
  }

  &--large{
    padding:.65rem 4rem;
    width:20rem;
  }

  &--small{

  }
}

.notification--red{
  position:relative;
  &:after{
    content:'';
    display:inline-block;
    background-color: red;
    clip-path: circle(50% at 50% 50%);
    position: absolute;
    top: 4px;
    right: .3px;
    width: 7px;
    height: 7px;
  }
}



.separator--horizontal{
  margin:0 2rem !important;
  opacity:.3;
}
