// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------


.section-pricing{
  height:100vh;
  width:auto;
  display:flex;
  flex-direction:column;
  align-items: center;

  padding-top:9rem;

}
