// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------


.btn{
  padding:15px 50px;
  text-decoration:none;
  border-radius:1.4rem;
  margin-top:2rem;
  box-shadow:0 1rem 1rem rgba($border-color-dark,0.7);
  transition: all .2s;
  font-weight:500;
  font-size:.75rem;



  &:active:hover,
  &:link:hover{
    transform:translateY(-.2rem);
  }
  &:active{
    transform:translate(0)
  }

  &--primary{
    color: $color-secondary;
    background-color: $color-primary;
  }
  &--secondary{
    color: $color-primary;
    background-color: $color-secondary;
  }
}
